body {
  font-family: 'Arial', sans-serif;
}

h1 {
    text-align:  center;
}

#tweetfeed {
  width: 500px;
  background: grey;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
}

#addtweet {
  margin: 5px auto;
  background: grey;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
}

#tweetform {
  position: relative;
  height: 100px;
  width: 490px;
}

#tweetsubmit {
    color:  white;
    background: red;
    padding:  10px;
    border:  1px solid white;
    width: 490px;
    position: relative;
    left: 2px;
}

#tweetsubmit:focus {
    outline: none;
    border:  1px solid blue;
}

.tweet {
  margin: 10px auto;
  color: black;
  background: white;
  padding: 10px;
  border-radius: 20px;
}

.user {
    color: red;
    margin: 0;
}

.message {
  color: blue;
  margin:  0;
  position:  relative;
  margin-left: 20px;
}

.timestamp {
  color: grey;
  font-size: 10px;
  margin: 5px;
}
